{
  "presets": ["react", ["env", { "modules": false }], "stage-0"],
  "plugins": ["transform-object-assign", "inline-package-json"],
  "env": {
    "commonjs": {
      "presets": ["react", "env", "stage-0"]
    },
    "test": {
      "presets": ["react", "env", "stage-0"]
    }
  }
}
