version: 2.1

orbs:
  node: circleci/node@5.3.0
  browser-tools: circleci/browser-tools@1.4.8 # see https://github.com/CircleCI-Public/browser-tools-orb/issues/33#issuecomment-1081974320 and https://github.com/cypress-io/circleci-orb/issues/437

jobs:
  test:
    parameters:
      version: 
        default: "current"
        description: Node.JS version to install
        type: string
    docker:
      - image: cimg/node:<<parameters.version>>-browsers
    resource_class: large
    steps:
      - checkout
      - browser-tools/install-browser-tools:
          install-geckodriver: false
      - run:
          command: |
            google-chrome --version
            firefox --version
          name: Check install
      # Prevents build error on stable node version
      - run: echo 'export NODE_OPTIONS=--openssl-legacy-provider' >> $BASH_ENV
      - node/install-packages
      - run: npm run test
      - run:
          name: "Test whether build is successful"
          command: yarn build
  deploy:
    docker:
      - image: cimg/node:current
    steps:
      - checkout
      - node/install-packages
      - run: npx semantic-release --generate-notes false

workflows:
  test:
    jobs:
      - test:
          matrix:
            parameters:
              version:
                - "current"
                - "lts"
      - deploy:
          requires:
            - test
